<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menú lateral -->
    <ion-menu contentId="main-content" type="overlay" class="menu-animation">
      <ion-content>
        <!-- Sección de UI Components -->
        <ion-list id="ui-components-list" class="animated-list">
          <ion-list-header>UI Components</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/ui']" routerDirection="root" lines="none" class="menu-item">
              <ion-label>Ver UI Components</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Sección de Componentes Generales -->
        <ion-list id="component-list" class="animated-list">
          <ion-list-header>Componentes</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="['/component', p.url]" routerDirection="root" lines="none" class="menu-item">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>